<app-title titulo="Control Flow" whitShadow/>

<section class="grid grid-cols-1 md:grid-cols-2 gap-1">
    <!-- asdfasdf -->
    <div class="bg-white rounded shadow p-10">
        <h2 class="text-gray-900 text-2xl font-bold mb-5">
            if: {{showContent()}}
        </h2>
        <button
            class="p-2 bg-sky-600 rounded 
            text-white hover:bg-sky-300"
            (click)="toggleContent()"
        >
            Click me
        </button>

        @if(showContent() ){
            <div>
                Hola mundo
            </div>
        } @else {
            <div>
                ----------
            </div>
        }

        @switch (grade()) {

        }
    </div>

    <!-- <span [ngSwitch]=""> -->

    <div class="bg-white rounded shadow p-10">
        <h2 class="text-gray-900 text-2xl font-bold mb-5">
            switch: {{grade()}}
        </h2>
    
        @switch (grade()) {
            @case ('A') {
                <p>Arriba de 90</p>
            }
    
            @case ('B') {
                <p>Arriba de 89</p>
            }
    
            @case ('F') {
                <p>Repropado</p>
            }
        }
    </div>

    <div class="bg-white rounded shadow p-10">
    
        
        <ul>
            @for (item of frameWorks(); track item; let i = $index, first = $first, last = $last, even = $even, odd = $odd, count = $count) {
                <li 
                    [class] = "{
                        'bg-red-100': even && !first && !last,
                        'bg-pink-50': odd && !first && !last,
                        'bg-blue-100': first || last
                    }"
                >
                    {{i + 1}}/{{count}} - {{item}}
                </li>            
            }

        </ul>
        
    </div>

    <div class="bg-white rounded shadow p-10">
        <ul>
            @for (item of frameWorks2(); track $index) {
                <li>
                    {{item}}
                </li>            
            } @empty {
                <li>
                    No hay nada agregado.
                </li>
            }

        </ul>        
    </div>
</section>
