<app-title titulo="Usuarios con spring-boot"/>
<button
    class="text-white bg-green-700 
    hover:bg-green-800 focus:ring-4 focus:outline-none 
    focus:ring-green-300 font-medium rounded-lg 
    text-sm px-5 py-2.5 text-center dark:bg-green-600 
    dark:hover:bg-green-700 dark:focus:ring-green-800"
    (click)="handleCreate()"
>
    @if(create()){
        Mostrar Lista de Usuarios
    }@else {
        Crear nuevo usuario
    }
</button>
@if (create()) {
    <section
        class="bg-slate-200 p-5 shadow-md sm:rounded-lg mt-5"
    >
        <form 
            class="max-w-screen-xl mx-auto"
            [formGroup]="formUsuario" (ngSubmit)="handleOnSubmit()"
        >
            <section                
            >
                <div class="mb-5">
                    <label for="names" class="block mb-2 text-sm font-medium
                    text-gray-900 dark:text-black">Nombres</label>
                    <input 
                    class="border border-gray-300 
                    text-gray-900 
                    text-sm rounded-lg 
                    focus:ring-blue-500 
                    focus:border-blue-500 block w-full p-2.5
                    dark:bg-gray-700 dark:border-gray-600
                    dark:placeholder-gray-400 dark:text-white 
                    dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="Primer y Segundo Nombre" required
                    id="names" type="text" formControlName="nombres"/>
                    @if (formUsuario.get('nombres')?.invalid && 
                    formUsuario.get('nombres')?.touched) {
                        <small class="text-red-600">Nombres es requerido.</small>
                    }
                </div>

                <div class="mb-5">
                    <label for="names" class="block mb-2 text-sm font-medium
                    text-gray-900 dark:text-black">Apellidos</label>
                    <input 
                    class="border border-gray-300 
                    text-gray-900 
                    text-sm rounded-lg 
                    focus:ring-blue-500 
                    focus:border-blue-500 block w-full p-2.5
                    dark:bg-gray-700 dark:border-gray-600
                    dark:placeholder-gray-400 dark:text-white 
                    dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="Primer y Segundo Apellido" required
                    id="names" type="text" formControlName="apellidos"/>   
                    @if (formUsuario.get('apellidos')?.invalid && 
                    formUsuario.get('apellidos')?.touched) {
                        <small class="text-red-600">Apellidos es requerido.</small>
                    }
                </div> 

                <div class="mb-5">
                    <label for="nick" class="block mb-2 text-sm font-medium
                    text-gray-900 dark:text-black">Nick Name</label>
                    <input 
                    class="border border-gray-300 
                    text-gray-900 
                    text-sm rounded-lg 
                    focus:ring-blue-500 
                    focus:border-blue-500 block w-full p-2.5
                    dark:bg-gray-700 dark:border-gray-600
                    dark:placeholder-gray-400 dark:text-white 
                    dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="Nick"
                    id="nick" type="text" formControlName="nick_name"/>   
                </div>   

                <div class="mb-5">
                    <label for="nick" class="block mb-2 text-sm font-medium
                    text-gray-900 dark:text-black">Fecha Nacimiento</label>
                    <input 
                    class="border border-gray-300 
                    text-gray-900 
                    text-sm rounded-lg 
                    focus:ring-blue-500 
                    focus:border-blue-500 block w-full p-2.5
                    dark:bg-gray-700 dark:border-gray-600
                    dark:placeholder-gray-400 dark:text-white 
                    dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="Nick"
                    required
                    id="nick" type="date" formControlName="fecha_nacimiento"/>   
                    

                    
                </div>        
                
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Crear usuario
                </button>
            </section>
        


        </form>
    </section>
} @else {
    <div class="relative overflow-x-auto mt-5 shadow-md sm:rounded-lg">
        <table
            class="w-full text-sm 
            text-left rtl:text-right 
            text-gray-500 dark:text-gray-400
            
            "
        >

        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nombres
                </th>
                <th scope="col" class="px-6 py-3">
                    Apellidos
                </th>
                <th scope="col" class="px-6 py-3">
                    Nick
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha Nacimiento
                </th>
                <th scope="col" class="px-6 py-3">
                    Editar
                </th>
            </tr>
        </thead>

        <tbody>
            @for (usuario of usuariosServices.usuarios(); track usuario.id) {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{usuario.nombres}}
                </th>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{usuario.apellidos}}
                </td>
                <td class="px-6 py-4">
                    {{usuario.nickName}}
                </td>
                <td class="px-6 py-4">
                    {{usuario.fehcaNacimiento}}
                </td>

                <td class="px-6 py-4">
                    <a [routerLink]="['/dashboard/edit', usuario.id]" class="mx-5 hover:underline">
                        Editar
                    </a>
                </td>
            </tr>
            
            } @empty {
                <h1 class="text-3xl mb-5">
                    Sin usuarios.
                </h1>
            }

        </tbody>

        </table>
    </div>

}



